
.newListingPage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url('../../assets/img/BKG3.jpg');
    background-size: cover;
}

.header {
    color: white;
    text-shadow: 0px 0px 10px #000;
    border-bottom: 1px solid white;
}

.form {
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.76);
    font-family: "Roboto", sans-serif;
    /* font-size: 1.1em; */
}

/* .form:hover{
    background-color: rgba(255, 255, 255, 0.966);
    box-shadow: 2px 2px 12px white;
} */

/* .form > div {
    margin: 5px;

} */

.formGroup {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: flex-start; */
}

.formGroup label {
    align-self: center;
    justify-self: center;
}

.formName {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formName label {
    align-self: center;
    justify-self: center;
    width: 100px;
}

.formName input {
    justify-self: center;
    align-self: center;
    width: 40%;
    height: 30px;
}

.formNums {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.formNums input {
    width: 50%;
    height: 30px;
    margin-left: 2px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
}

.formInputNum {
    width: 100px !important;
    /* height: 30px; */
    margin-left: 20px !important;
}

.checkLabel {
    margin-right: 10px;
}

.formCheck {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.formCheck div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.formInputCheck {
    height: 20px;
    width: 20px;
    padding-top: 15px;
}

.formCheck input {
    /* width: 50%; */
    /* height: 50px; */
}

.formImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 130%;
    align-self: center;
}

.formImg input {
    margin-left: 10px;
    width: 21%;
}

.formDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.formDescription textarea {
    width: 70%;
    height: 90px;
}

.formBtn {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    /* margin-top: 100px; */
    width: 100%;
    margin: 0px;
}

.formBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 0px;
    /* padding-bottom: 0px; */
    width: 40%;
}

.button:hover {
    background-color: #55d35a;
}

.buttonC {
    background-color: #e43535;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 0px;
    /* padding-bottom: 0px; */
    width: 40%;
}

.buttonC:hover {
    background-color: #ff1f1f;
}

.loading {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

