
.newListingPage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url('../../assets/img/splash-castle.jpg');
    background-size: cover;
}

.header {
    color: white;
}

.form {
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.842);
}

.form > div {
    margin: 5px;

}

.formGroup {
    display: flex;
    flex-direction: column;
}

.formGroup label {
    align-self: center;
    justify-self: center;
}

.formName {
    display: flex;
    flex-direction: column;
}

.formName label {
    align-self: center;
    justify-self: center;
}

.formName input {
    justify-self: center;
    align-self: center;
    width: 50%;
    height: 30px;
}

.formNums {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.formNums input {
    width: 50%;
    height: 30px;
    margin-left: 2px;
}

.formCheck {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.formCheck input {
    /* width: 50%; */
    /* height: 50px; */
}

.formImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formImg input {
    margin-left: 10px;
    width: 21%;
}

.formDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.formDescription textarea {
    width: 50%;
    height: 50px;
}

.formBtn {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    /* margin-top: 100px; */
    width: 100%;
    margin: 0px;
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 0px;
    /* padding-bottom: 0px; */
    width: 30%;
}

