.footer {
    position: absolute;
    bottom: 0 !important;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.671);
    height: auto;
    width: 100%;
    font-family: "Teko", sans-serif;
    color: white;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 55px;
    color: white;
}

.footer__content header {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: none;
    /* line-height: 3rem; */
    color: white;
}

.footer__content p {
    max-width: 500px;
    /* margin: 10px auto;
    line-height: 28px; */
    font-size: 12px;
}

.footer__socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 1.8em;
    width: 30%;
    color: white;
}

.footer__socials li {
    margin: 0 10px;
    color: white
}

.footer_socials a {
    text-decoration: none;
    color: white;
}

.footer__socials a i {
    font-size: 1.5 rem;
    transition: color .4s ease;
    color: white;
}

.footer__socials li:hover {
    border-bottom: 3px solid white;
}

/* .footer_socials a:hover i{
    color: aqua;
} */

.footer__bottom {
    background: rgb(2, 2, 2,);
    width: 100%;
    text-align: center;
    max-height: 20px;
}

.footer__bottom p {
    font-size: 20px;
    word-spacing: 2px;
    text-transform: capitalize;
    margin: 0;
    width: 100%;
}

.footer__bottom span{
    text-transform: uppercase;
    font-weight: 600;
    /* font-family: 'Monoton', cursive; */
}

.linkedIcon:hover {
    color:rgb(56, 149, 255);
    /* background-color: white; */
}

.portIcon {
    color: white;
}

.portIcon:visited {
    color: white;
}

.gitIcon:hover {
    /* color:rgb(0, 0, 0);
    background-color: white; */
}

.twitIcon:hover {
    color:rgb(42, 152, 255);
    /* background-color: rgb(255, 255, 255); */
}

.aLink:visited {
    text-decoration: none;
    color: rgb(255, 251, 251) !important;
    height: 100%;
    width: 100%;
}

/* .liGit {
    color: black;
    display: flex;
    flex-direction: row;
} */

.aGit:visited {
    text-decoration: none;
    color: rgb(255, 249, 249);
}

/* .aTwit {
    color: rgb(66, 173, 235);
    display: flex;
    flex-direction: row;
} */

.aTwit:visited {
    text-decoration: none;
    color: rgb(250, 253, 255);
}

.aAngel:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
}