
.profilePage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    background-image: url('../../assets/img/BKG13.jpeg');
    background-size: cover;
    background-position: bottom;
    /* background-color: rgba(117, 107, 107, 0.342); */
}

.profileCard {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 75%;
    margin-top: 80px;
    /* border: 2px solid #000000; */
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 15px;
    box-shadow: 5px 10px 20px 10px #00000063;
}

.profileCardImage {
    width: 100%;
    height: 50%;
    border-radius: 5px;
    /* background-color: #02C8A7; */
}

.profileImg {
    width: 100%;
    height: 100%;

}

.profileCardContent {
    width: 100%;
    height: 60%;
    /* font-family: 'MedievalSharp', cursive; */
}

.profileName {
    height: 20%;
    width: 100%;
    color: black;
    /* background-color: #7CDBD5; */
    border-bottom: 50px solid #7CDBD5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'MedievalSharp', cursive;
    font-size: 1.2em;
}

.profileName h2 {
    margin: 0px;
}

.bio {
    padding: 0px 10px 10px 10px;
    font-size: .9em;
}

/* .infoContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 75%;
    margin-top: 80px;
} */
.listingContainer {
    width: 34%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

.listingsCard {
    height: 45%;
    width: 100%;
    /* background-color: rgba(0, 255, 255, 0.13);
    border: 2px solid #7cdbd563; */
    border-radius: 15px;
    /* box-shadow: 8px 8px 2px 1px #7cdbd51e; */
    /* margin: 20px 0; */
}

.reservationCard {
    height: 45%;
    width: 100%;
    /* background-color: rgba(255, 0, 0, 0.05);
    border: 1px solid rgba(255, 0, 0, 0.418); */
    border-radius: 15px;
    /* box-shadow: 8px 8px 2px 1px #f7752b2f; */
}

.reservationContainer {
    width: 34%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

.profileListingsCard {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* color: white; */
    /* border: 1px solid #000000; */
    /* margin-right: 50px; */
}

.listingHeader {
    /* margin: 0px; */
    margin: 15px 10px 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-left: 25px;
    font-family: 'Roboto', cursive;
    text-shadow: 2px 1px 9px rgba(0, 0, 0, 0.781);
    color: rgb(255, 255, 255);
    /* border-bottom: 1px solid #00000017; */
}

/* Swiper */

.swiperContainer {
    width: 100%;
    height: 110%;
}

.listingCarousel {
    display: flex;
    justify-content: center;
    /* border: 1px solid #F53240; */
    width: 75%;
    height: 70%;
    
}

/* .image {
    height: auto;
    width: auto;
    overflow: hidden;
} */

.slideL {
    /* border: 10px solid rgb(180, 14, 14) */
    /* display: flex;
    justify-content: center;
    box-shadow: 1px 1px 2px 1px #02c8a780;
    background-color: rgba(0, 255, 255, 0.13);
    border: 2px solid #7cdbd563; */
}

/* .slideR {
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 2px 1px #f5323f6b;
    background-color: rgba(255, 0, 0, 0.05);
    border: 1px solid rgba(255, 0, 0, 0.418);
} */

.profilePage h3 {
    padding: 20px;
    margin: 0px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'MedievalSharp', cursive;
    text-shadow: 1px 1px 4px black;
}

.noResHeader {
    display: flex;
    color: rgb(255, 247, 247) !important;
    font-family: 'Roboto', sans-serif !important;
    text-shadow: none !important;
}

.listingButtons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.4em;
}

.deleteButton {
    margin-left: 50px;
}

.deleteButton:hover {
    cursor: pointer;
    color: #F53240;
}

.editButton {
    margin-left: 40px;
}

.editButton:hover {
    cursor: pointer;
    color: #02C8A7;
}


.noReservations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.noneBtn {
    font-size: 1.1em;
    border: none;
    background-color: #02C8A7;
    color: white;
    padding: 10px;
}

.noneBtn:hover {
    cursor: pointer;
}



