
.profilePage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.profileCard {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 75%;
    margin-top: 80px;
    border: 2px solid #F53240;
    border-radius: 15px;
    box-shadow: 10px 10px 2px 1px #7cdbd563;
}

.profileCardImage {
    width: 100%;
    height: 50%;
    border-radius: 5px;
    /* background-color: #02C8A7; */
}

.profileImg {
    width: 100%;
    height: 100%;

}

.profileCardContent {
    width: 100%;
    height: 60%;
}

.profileName {
    height: 20%;
    width: 100%;
    color: black;
    /* background-color: #7CDBD5; */
    border-bottom: 1px solid #7CDBD5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileName h2 {
    margin: 0px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 75%;
    margin-top: 80px;
}


.listingsCard {
    height: 45%;
    width: 100%;
    background-color: rgba(0, 255, 255, 0.05);
    border: 2px solid #F53240;
    border-radius: 15px;
    box-shadow: 8px 8px 2px 1px #7cdbd563;
    margin: 20px 0;
}

.profileListingsCard {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.listingHeader {
    /* margin: 0px; */
    margin: 15px 10px 0px 10px;
}

/* Swiper */

.swiperContainer {
    width: 100%;
    height: 100%;
}

.listingCarousel {
    display: flex;
    justify-content: center;
    /* box-shadow: 1px solid #F53240; */
    width: 55%;
    height: 60%;
}

.slide {
    display: flex;
    justify-content: center;
}

.listingName {
    margin-top: 0px;
    margin-bottom: 25px;
}

.listingButtons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.4em;
}

.deleteButton {
    margin-left: 50px;
}

.deleteButton:hover {
    cursor: pointer;
    color: #F53240;
}

.editButton {
    margin-left: 40px;
}

.editButton:hover {
    cursor: pointer;
    color: #02C8A7;
}

.reservationCard {
    height: 45%;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.05);
    border: 2px solid #F53240;
    border-radius: 15px;
    box-shadow: 8px 8px 2px 1px #7cdbd563;
}



