
.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.picturesContainer {
    width: 100%;
    height: 50%;
}

.image {
    width: 400px;
    height: 300px;
}

.listingBottom {
    width: 100%;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.infoAndReservationDiv {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}