
.editReservation{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../assets/img/splash-gif.gif");
    background-size: cover;
    height: 100%;
}

.header {
    color: white;
}
