
.navbarContainer {
    width: 100%;
    background-color: rgb(255, 255, 255);
    min-height: 7%;
}


.navUl {
    display: inline-flex;
    justify-content: space-around;
    flex-direction: row;
    /* align-items: center; */
    width: 90%;
    list-style-type: none;
    margin: 0;
}

.splashNav {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
}

.home {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    color: #F53240;
}

.icon {
    height: 50px;
    width: 50px;
}

.icon:hover {
    cursor: pointer;
    border-bottom: 1px solid #F53240;
}

.home p {
    font-size: 1.3em;
    margin-top: 10px;
}

.navP {
    font-size: 1.1em;
    margin-top: 10px;
}

.logoutBtnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoutBtn {
    font-size: 22px;
    border: none;
    background-color: #f5323f00;
    padding-bottom: 14px;
}

.logoutBtn:hover {
    color: #F53240;
    cursor: pointer;
}

